# this config is used by pj for case level, 2nd entry (simulation stage)
[DEFAULT]
### case default LSF arguments
lsf_priority =
lsf_job_name =
lsf_mode =
lsf_core_limit =
lsf_mem_limit =
lsf_output_path =
lsf_queue =

### case default pre/post cmd in simulation
pre_cmd =
post_cmd =

### case default simulation random times (No.)
random_times =

### case default seed (random/No.)
seed =

### case default flow control switches
uvm = on
cov = off
wave = off
wave_mem = off
wave_glitch = off
gui = off
prof_mem = off
prof_time = off

### case default tools simulation options
custom_simu_opts =

### case default regression type
regression_type = sanity

[{{module_name}}__base_test]
regression_type = sanity
simv = simv_wave
wave = on
pre_cmd =
[{{module_name}}__rst_test]
regression_type = sanity
simv = simv_wave
wave = on
pre_cmd =
