{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
module_list_page
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function()
  {
  $("#my_table").dataTable({
  "order": [[0, 'asc']],
  });
  });
</script>
{% endblock %}

{% block content %}
<p><i><a href="/regr">index</a> -> <a href="{% url 'regr:date' user %}">{{ user }}</a> -> <a href="{% url 'regr:proj' user date %}">{{ date }}</a> -> {{proj}} </i></p>
<table id="my_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Module</th>
      <th>Module Design Owner</th>
      <th>Module Verif Owner</th>
      <th>Passing Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for module, module_pr_dic in module_dic.items %}
    <tr align="center">
      <td><a href="{% url 'regr:case' user date proj module.mname %}">{{ module.mname }}</a></td>
      <td>{{ module.downer }}</td>
      <td>{{ module.vowner }}</td>
      <td bgcolor="{{module_pr_dic.bc}}">{{ module_pr_dic.pr }}% ({{ module_pr_dic.pn }}/{{ module_pr_dic.tn }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
