{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
Regression Info
{% endblock %}

{% block content %}
<div id="container" class="clearfix" style="width: 1300px;">
  <div class="content" style="height:auto; width: 1200px; margin: 0px auto;">
    <fieldset id="items_list">
      <p>
        <span>Teams:</span> 
        <select id="team" class="team" data-value="infra" data-first-title="Choose" disabled="disabled">
        </select>
        <span>Users:</span> 
        <select id="user" class="user" data-value="jenkins" data-first-title="Choose" disabled="disabled"></select>
        <span>Projects:</span>
        <select id="project" class="project" data-value="Choose Projects" data-first-title="Choose" disabled="disabled"></select>
        <span>Modules:</span>
        <select id="module" class="module" data-value="Choose Modules" data-first-title="Choose" disabled="disabled"></select>
        <span>Start:</span>
        <input class="datainp" id="indate" type="text" placeholder="Choose" readonly> 
        <span>End:</span>
        <input class="datainp" id="dateinfo" type="text" placeholder="Choose"  readonly>
        <input  class="tsearch" type="button" name="search" value="Search">
      </p>
    </fieldset>
    <hr style="clear: both;height: 2px; width: 1200px; background: rgba(33, 7, 7, 0.19) none repeat scroll 0% 0%;">
    <div id="show_all">
      <div id="show_tab1">  
        <table id="tab1" class="display">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            {% for user in user_list %}
            <tr align="center">
              <td>{{ user }}</a></td>
              <td>{{ user }}@cpu.com.cn</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
  $(function() {
    $.cxSelect.defaults.url = "{% url 'regr:query_select' %}";    
    $("#items_list").cxSelect({
      selects : ["team", "user", "project", "module"],
      nodata : "none"
    });

    jeDate.skin('gray');
    jeDate({
      dateCell:"#indate",//isinitVal:true,
      format:"YYYY-MM-DD",
      isinitVal:true,
      date_diff: 1,
      isTime:true, //isClear:false,
      minDate:"2014-01-01 00:00:00",
    })

    jeDate({
      dateCell:"#dateinfo",
      format:"YYYY-MM-DD",
      isinitVal:true,
      isTime:true, //isClear:false,
      minDate:"2014-01-01 00:00:00",
    })
    $('#tab1').DataTable({
      "scrollY": "350px",
      "deferRender": true,
      "order":[[0,"asc"]],
      "lengthChange": false,
      "bPaginate": true, //翻页功能
      "searching": false,
    });
    $(".tsearch").click(function(){
      user = document.getElementById("user").value;
      proj = document.getElementById("project").value;
      module = document.getElementById("module").value;
      tstart = document.getElementById("indate").value;
      tend = document.getElementById("dateinfo").value;
      if (tstart == "") {
        alert("Please Choose running start time!");
      }
      else if (tend == "") {
        alert("Please Choose running end time!");        
      }
      else {
        if (user == "") {
          alert("Please Choose User!")
        }
        else {
          if (proj == "") {
            $('#show_all').empty();
            var proj_day = new Array();
            proj_day.push('<div id="show_tab1" style="margin-top:20px;"><table id="tab1" class="display"><thead><tr><th>Project</th><th>Project Leader</th><th>Project Design Leader</th><th>Project Verif Leader</th><th>Passing Rate</th><th>Run Time</th></tr></thead><tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot><tbody></tbody></table></div><div id="show_tab2" style="margin-top:20px;"><table id="tab2" class="display"><thead><tr><th>Project</th><th>Project Leader</th><th>Project Design Leader</th><th>Project Verif Leader</th><th>Passing Rate</th><th>Run Time</th></tr></thead><tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot><tbody></tbody></table></div>');
            document.getElementById("show_all").innerHTML = proj_day.join('');

            $('#tab1').DataTable( {      
              "deferRender": true,
              "destroy": true,
              "lengthChange": false,
              "lengthMenu": [
                  [5, 6, 8, -1],
                  [5, 10, 15, "All"]
               ],//每页显示条数设置
              "bPaginate": true, //翻页功能
              "searching": false,
              "order":[[5,'desc']],
              "scrollY": "250px",//dt高度
              ajax: {
                url:"{% url 'regr:get_model' %}",
                data: {'model':'proj','user':user, 'proj':'None', 'module':'None', 'tstart':tstart, 'tend':tend, 'tflag':'day'} 
              },   
              "columns": [
              { "data": "day.model_list.0" },
              { "data": "day.model_list.1" },
              { "data": "day.model_list.2" },
              { "data": "day.model_list.3" },
              { "data": "day.items",
              "render": function (data, type, full, meta) {
                  return data.pr + '%'+ "("+ data.pn + '/'+ data.tn +")"
              },
              "createdCell": function (tr, cellData, rowData, row, col) {
                  $(tr).css('background', cellData.bc);
              }
            },
            { "data": "day.time",
            "render": function (data, type, full, meta) {            
              return data.runt ;
            }
          }
          ],
        });
          $('#tab2').DataTable( {      
            "deferRender": true,
            "destroy": true,
            "lengthChange": false,
              "bPaginate": true, //翻页功能
              "searching": false,
              "order":[[5,"desc"]],
              "scrollY": "350px",//dt高度
              ajax: {
                url:"{% url 'regr:get_model'%}",
                data: {'model':'proj','user':user, 'proj':'None', 'module':'None', 'tstart':tstart, 'tend':tend, 'tflag':'sec'} 
              },   
              "columns": [
              { "data": "sec.model_list.0" },
              { "data": "sec.model_list.1" },
              { "data": "sec.model_list.2" },
              { "data": "sec.model_list.3" },
              { "data": "sec.items",
              "render": function (data, type, full, meta) {
                  return data.pr + '%'+ "("+ data.pn + '/'+ data.tn +")"
              },
              "createdCell": function (tr, cellData, rowData, row, col) {
                  $(tr).css('background', cellData.bc);
              } 
            },
            { "data": "sec.time",
              "render": function (data, type, full, meta) {            
                  return data.runt;
            }
          }
          ]
        });
        }
        else {
          if (module == "") {
            $('#show_all').empty();
            var proj_day = new Array();
            proj_day.push('<div id="show_tab1" style="margin-top:20px;"><table id="tab1" class="display"><thead><tr><th>Module</th><th>Module Design Owner</th><th>Module Verif Owner</th><th>Passing Rate</th><th>Run time</th></tr></thead><tfoot><tr><th></th><th></th><th></th><th></th><th></th></tr></tfoot><tbody></tbody></table></div> <div id="show_tab2" style="margin-top:20px;"><table id="tab2" class="display"><thead><tr><th>Module</th><th>Module Design Owner</th><th>Module Verif Owner</th><th>Passing Rate</th><th>Run time</th></tr></thead><tfoot><tr><th></th><th></th><th></th><th></th><th></th></tr></tfoot><tbody></tbody></table></div>');
            document.getElementById("show_all").innerHTML = proj_day.join('');
            $('#tab1').DataTable( {      
              "deferRender": true,
              "destroy": true,
              "lengthChange": false,
              "lengthMenu": [
                [5, 6, 8, -1],
                [5, 10, 15, "All"]
               ],//每页显示条数设置
              "bPaginate": true, //翻页功能
              "searching": false,
              "order":[[4,'desc']],
              "scrollY": "250px",//dt高度
              ajax: {
                  url:"{% url 'regr:get_model' %}",
                  data: {'model':'module','user':user, 'proj':proj, 'module':'None', 'tstart':tstart, 'tend':tend, 'tflag':'day'} 
              },   
              "columns": [
              { "data": "day.model_list.0" },
              { "data": "day.model_list.1" },
              { "data": "day.model_list.2" },
              { "data": "day.items",
                "render": function (data, type, full, meta) {
                    return data.pr + '%'+ "("+ data.pn + '/'+ data.tn +")"
                 },
                "createdCell": function (tr, cellData, rowData, row, col) {
                    $(tr).css('background', cellData.bc);
                 }
              },
              { "data": "day.time",
                "render": function (data, type, full, meta) {            
                    return data.runt;
                 }
              }
              ],
            });
            $('#tab2').DataTable( {      
              "deferRender": true,
              "destroy": true,
              "lengthChange": false,
              "bPaginate": true, //翻页功能
              "searching": false,
              "order":[[4,"desc"]],
              "scrollY": "350px",//dt高度
              ajax: {
                url:"{% url 'regr:get_model'%}",
                data: {'model':'module','user':user, 'proj':proj, 'module':'None', 'tstart':tstart, 'tend':tend, 'tflag':'sec'} 
              },   
              "columns": [
              { "data": "sec.model_list.0" },
              { "data": "sec.model_list.1" },
              { "data": "sec.model_list.2" },
              { "data": "sec.items",
              "render": function (data, type, full, meta) {
                   return data.pr + '%'+ "("+ data.pn + '/'+ data.tn +")"
                  },
              "createdCell": function (tr, cellData, rowData, row, col) {
                    $(tr).css('background', cellData.bc);
                  }
              },
              { "data": "sec.time",
              "render": function (data, type, full, meta) {            
                return data.runt;
                  }
              }
              ]
            });
          }
          else {
            $('#show_all').empty();
            var proj_day = new Array();
            proj_day.push('<div id="show_tab2" style="margin-top:20px;"><table id="tab2" class="display"><thead><tr><th>Case Name</th><th>Case Simv</th><th>SVN CL</th><th>Seed</th><th>Status</th><th>Error Stage</th><th>Error Info</th><th>CPU Time</th><th>Run Time</th></tr></thead> <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot><tbody></tbody></table></div>');
            document.getElementById("show_all").innerHTML = proj_day.join('');
             $('#tab2').DataTable( {      
              "deferRender": true,
              "destroy": true,
              "lengthMenu": [
                  [15, 6, 8, -1],
                  [15, 6, 8, "All"]
               ],//每页显示条数设置
              "lengthChange": false,
              "bPaginate": true, //翻页功能
              "searching": false,
              "order":[[8,"desc"]],
              "scrollY": "545px",//dt高度
              ajax: {
                  url:"{% url 'regr:get_model'  %}",
                  data: {'model':'case','user':user, 'proj':proj, 'module':module, 'tstart':tstart, 'tend':tend} 
              },   
              "columns": [
                  { "data": "sec.case.casename" },
                  { "data": "sec.case.vn" },
                  { "data": "sec.case.proj_cl" },
                  { "data": "sec.case.seed" },
                  { "data": "sec.case",
                      "render": function (data, type, full, meta) {
                          return data.status
                      },
                      "createdCell": function (tr, cellData, rowData, row, col) {
                          $(tr).css('background', cellData.bc);
                      },  
                  },
                  { "data": "sec.case.error_stage" },
                  { "data": "sec.case.error_info" },
                  { "data": "sec.case.simu_cpu_time" },
                  { "data": "sec.time",
                      "render": function (data, type, full, meta) {            
                          return  data.runt ;
                      }
                  }
                ],
              });
            }
          }
        }
      }  
    });
});
</script>
{% endblock %}
