{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
user_list_page
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function()
  {
  $("#my_table").dataTable({
  "order": [[0, 'asc']],
  });
  });
</script>
{% endblock %}

{% block content %}
<p><i><a href="/regr">index</a></i></p>
<table id="my_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in object_list %}
    <tr align="center">
      <td><a href="{% url 'regr:date' user.name %}">{{ user.name }}</a></td>
      <td>{{ user.name }}@cpu.com.cn</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
