        .showslider {
            width: 80%;
            height: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            position: absolute;
            top: 9px;
        }
 
        .addselect {
            border-radius: 2px;
            display: inline-block;
            background-color: #ccc;
            height: 12px;
            width: 16px;
            text-align: center;
            color: #fff;
            font-size: 9px;
            font-family: Arial;
            position: relative;
            margin-left: 4px;
            cursor: pointer;
            overflow: hidden;
            vertical-align: top;
            top: 1px;
        }
 
        .addselect select {
            width: 30px;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }
 
        table.dataTable tbody  th, table.dataTable th, table.dataTable tbody td {
            font-size: 15px;
            text-align: left;
        }
 
        table.dataTable thead th {
            padding: 0 8px;
            font-size: 15px;
            text-align: center;
        }
