{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>  
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/onebyone.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/coda-slider-2.0.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/print.css' %}"    type="text/css" media="print" />
  <link rel="stylesheet" href="{% static 'DataTables-1.10.12/media/css/jquery.dataTables.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'DataTables-1.10.12/extensions/Buttons/css/buttons.dataTables.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'DataTables-1.10.12/media/css/mydatatable.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/jedate.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/gray.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/showLoading.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/userinfo.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"    type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/calculator.css' %}"    type="text/css" media="screen" />
</head>

<body>
  {% if log_out %}
  <div id="lgn_cfm">
    <div class="lg_bd">
      <div>
         Please login in !
      </div>
      <input id="alogin" type="button" name="alogin" value="confirm" />
    </div>
  </div>
  {% endif %}
  <div id="wrapper">
  <!-- start header -->
    <div id="header">
      <div class="header-content">
        <div class="topnavbar clearfix">
          <span class="alignright">
            <a class="active" class="padding-right" href="{% url 'contact' %}">Contact Us</a>
            <span class="padding">|</span>
            <a class="active" class="padding-right" href="/static/doc/_build/html/backend.html">Directions</a>
          </span>
          
          <span class="alignleft">
            <a class="active" href="#" >Hi!</a>
            <span class="padding">|</span>
            {% if user.is_authenticated %}
            <a class="active">{{ user.username }}</a>
            <span class="padding">|</span>
            <a class="active" href="{% url 'logout_auth' %}">{% trans "Log out" %}</a>
            {% else %}
            <a class="active" href="#loginmodal" id="caslogin">{% trans "Login" %}</a>
            {% endif %}
          </span>
        </div>
        <div id="logo_site">
          <img src="{% static 'images/logos/cpu_m_os_logo_30.png' %}">        
        </div>
        <div id="cas_nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pj_app/">PJ</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'user_info:ldap_userinfo' %}">UIMS</li>
            {% else %}
            <li><a href="#loginmodal" id="ldaplogin">UIMS</a></li>          
            {% endif %}
            <li><a href="/static/doc/_build/html/index.html">Doc</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="loginmodal" style="display:none;">
      <h1>User Login</h1>
      <form id="loginform" name="loginform" method="get" action="{% url 'login_auth' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="txtfield" tabindex="11">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="txtfield" tabindex="12">
        {% if log_error %}
        <p id="error" style="color:red;">Username or password is wrong, please try it again!</p>
        {%  endif %}
        <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3"></div>
      </form>
    </div>
  <!-- end header -->

  <!-- start content -->
  {% block content %} 
  {% endblock %}
  <!-- end content -->

  <!-- start footer -->
  <div id="footer" >
      <div class="footer-content clearfix">
        <div class="col1-4">
          <h3>Contact Us</h3>
          <p>
            Email: <a href="#" class="escape">yigy<span><span>@</span></span>cpu.com.cn</a><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="escape">chenh<span><span>@</span></span>cpu.com.cn</a>
          </p>
        </div>
        <div class="col1-4">
          <h3>About Us</h3>
          <p>Our team is to make your work easy. </p>
        </div>
        <div class="col1-4">
          <h3>Footer Links</h3>
          <p>
            <a href="/">Home</a><br />
            <a href="/pj_app/">PJ</a><br />
            <a href="/static/doc/_build/html/index.html">Doc</a><br />
          </p>
        </div>
        <div class="col1-4 last">
          <h3>Site</h3>
          <p>This site will be better in the future</p>
          <div class="clear"></div>
        </div>
        <div id="footer-bottom" class="clear">
          <p class="alignleft"> © 2016 All rights reserved.Collect from Verications Platform Team</p>
          <p class="alignright"><a href="#" onclick="return false">Terms of Use</a> <span class="padding">|</span> <a href="#" onclick="return false">Privacy Policy</a></p>
        </div>
      </div>
  </div>
  <div id="background"></div>
  </div>
<!-- end footer -->
  <script type="text/javascript" src="{% static 'js/ie_detect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/highcharts.js' %}"</script>
  <script type="text/javascript" src="{% static 'js/drill.js'  %}"</script>
  <script type="text/javascript" src="{% static 'js/exporting.js'  %}"</script>
  <script type="text/javascript" src="{% static 'js/data.js'  %}"</script>
  <script type="text/javascript" src="{% static 'js/jquery.cxselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom-menu.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.cycle.all.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/calculator.js' %}"</script>
  <script type="text/javascript" src="{% static 'js/jszip.min.js' %}" charset="utf8" ></script>
  <script type="text/javascript" src="{% static 'DataTables-1.10.12/media/js/jquery.dataTables.min.js' %}" charset="utf8" ></script>
  <script type="text/javascript" src="{% static 'DataTables-1.10.12/extensions/Buttons/js/dataTables.buttons.js' %}" charset="utf8" ></script>
  <script type="text/javascript" src="{% static 'DataTables-1.10.12/extensions/Buttons/js/buttons.html5.min.js' %}" charset="utf8" ></script>
  <script type="text/javascript" src="{% static 'js/jedate.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/showLoading.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/math.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/highcharts-3d.js' %}"></script>

  <script type="text/javascript">
    String.prototype.format = function(){
      var args = arguments;
      return this.replace(/\{(\d+)\}/g, function(s,i) {
          return args[i];
      });
    }

    function login(id) {
        $('#loginform').submit(function(e){
          if (($(':text').val() == '') || ($(':password').val() == '')){
              if($('#ipBlank').length ==1) {
                $('#loginmodal').css({'display':'block'});         
              } else if($('#error').length == 1) {
                $('#error').remove();
                $('#password').after('<p id="ipBlank" style="color:red;"> Please input username and password!<p>')
                $('#loginmodal').css({'display':'block'});                              
              } else {
                $('#password').after('<p id="ipBlank" style="color:red;"> Please input username and password!<p>')
                $('#loginmodal').css({'display':'block'});                    
              }
              return false;
          } else {
              return true;
          } 
        });    
        $(id).leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
    }

    $(function(){
      login('#caslogin');
      login('#ldaplogin');
      if($("#error").length) {
        alert("Username or password is worry, please try it again!");
      }
      $('#alogin').click(function(){
        $('#lgn_cfm').hide();
      }); 
    });
  </script>

  {% block js %}
  {% endblock%}
</body>
</html>

