{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

<!-- start content -->
{% block content %}
  <div id="container" class="clearfix" style="padding: 125px 10px 108px 10px;">
    <div class="content">
     <div id="quote" class="clear" style="border-radius: 12px;">
        <div class="coda-slider-wrapper">
          <div class="coda-slider preload" id="coda-slider-1">
            <div class="panel">
              <div class="panel-wrapper">
                <div class="logos alignleft" style="padding:50px 14px 0 14px; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VP Team</div>
                <div class="quote" >
                  <p class="quoter">Yi Guan Yu</p>
                  <p style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Yi Guan Yu is the leader of Verification Platform team, the platform site is mainly by his architecture and design. The site is easy and convenient to use by our big CPU team members!</p>
                   <br />
                   <br />
               </div>
              </div>
            </div>
            <!-- end panel -->
          </div>
        </div>
      </div>
    <div id="quote" class="clear" style="border-radius: 12px;">
        <div class="coda-slider-wrapper">
          <div class="coda-slider preload" id="coda-slider-1">
            <div class="panel">
              <div class="panel-wrapper">
                <div class="logos alignleft" style="padding:50px 14px 0 14px; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VP Team</div>
                <div class="quote" >
                  <p class="quoter">Chen Huan</p>
                  <p style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Chen Huan is the member of Verification Platform Team, and is mainly responsible for site frontend architecture! </p>
                   <br />
                   <br />
               </div>
              </div>
            </div>
            <!-- end panel -->
          </div>
        </div>
      </div>
        
     
    </div>
  </div>
<!-- end content -->
{% endblock %}


{% block js %}

<script type="text/javascript">
$(function() {
    $('#slider').cycle({
        fx: 'scrollLeft',
        timeout:5000,
        speed:400,
        pager:  '#cyclenav'
    });

    
}); 
</script>

{% endblock%}


