body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}


.contact-info {
    width: 900px; 
    height: 500px; 
    margin: 0px auto; 
    border: 2px solid rgba(233, 231, 231, 0.65);
    border-radius: 4px; 
    margin-top: 80px;
}

.comment-title {
    line-height: 36px;
    font-size: 20px;
    background: bisque;
    padding-left: 20px;
    margin-bottom: 5px;
}

#comments {
    width: 900px;
    height: auto;
    margin: 0px auto; 
    border: 2px solid rgba(233, 231, 231, 0.65);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 100px;     
}

.comment-input {
    background-color: #fff,
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.comment-field {
  margin-bottom: 15px;
  display: flex;
}

.comment-field .comment-field-name {
  display: flex;
  flex-basis: 100px;
  font-size: 19px;
}

.comment-field .comment-field-input {
  display: flex;
  flex: 1;
}

/*.comment-field-input input,*/
.comment-field-input textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  flex: 1;
}

.comment-field-input textarea {
  height: 100px;
}

.comment-field-button {
  display: flex;
  justify-content: flex-end;
}

.comment-field-button button {
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.comment-field-button button:active {
  background: #13c1f1;
}

.comment {
    width: 750px;
    height: auto;
    margin: 0px auto; 
    border: 2px solid rgba(233, 231, 231, 0.65);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px;
}

.comment-user {
    font-weight: 600;
    font-size: 20px; 
    color: rgb(17, 15, 245);
}

.comment-time {
    float: right;
    font-weight: 600;
}

.comment-comment {
    line-height: 35px;
    padding-left: 31px;
}

.commit-flag {
  text-align: center;
  height: 24px;
  font-size: 16px;
  color: red;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}