body{ margin:0; 
      padding:0;
      background:#efefef; 
      font-family:Georgia, Times, Verdana, Geneva, Arial, Helvetica, sans-serif; }
div#mother{ margin:0 auto; 
            width:943px; 
            height:572px; 
            position:relative; 
            top: 71px;}
div#errorBox{ background: url(../images/ie_detect.png) no-repeat top left; 
              width:943px;
              height:572px;
              margin:auto; }
div#errorText{ color:#39351e; 
               padding:146px 0 0 446px }
div#errorText p{ width:460px; 
                 font-size:28px; 
                 line-height:36px; }
div#home{ margin:20px 0 0 444px;}
ul#contact{ margin: 57px 14px 0 400px; 
            list-style: none; 
            height: 129px;
            font-size: 21px;
            background: #f6f5f4;}
h1{ font-size:40px;
    margin-bottom:35px; }
