@charset "utf-8";
/* CSS Document */

#background { background: url(../images/background.jpg) no-repeat center top; left:0; width:100%; min-width:100%; height:100%; min-height:100%; position:fixed; top:0; z-index:0; }
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.centered { text-align:center; }


/* =Typography
--------------------------------------------------------------------------------------------------------*/
body { font: 13px Arial, Helvetica, sans-serif; color:#363636; }
.bold {font-size:11px; font-weight:700; }
strong { font-weight:700; }
/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =Headings
--------------------------------------------------------------------------------------------------------*/
h1 { }
h2 { font-size:60px; font-weight:normal; color:#000; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; line-height:60px; text-transform:uppercase; }
h3 { font-size:24px; font-weight:normal; color:#000; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; line-height:24px; }
h4 { font-size:16px; font-weight:normal; color:#000; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; line-height:20px; }
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =Branding
--------------------------------------------------------------------------------------------------------*/
p { padding:4px 0 5px 0; line-height:20px; }
p a { color:#0073bf; text-decoration:none; border-bottom:1px dotted #0073bf; }
p a:hover { text-decoration:none; border-bottom:1px solid #0073bf; }
a:link,a:visited{text-decoration:none}
#wrapper { width:100%; background:#dbdcdd; z-index:1; }
#header { background:#fff url(../images/header-bg.jpg) top repeat-x; border-bottom:#d1d1d1 0px solid; position:fixed; top:0px; left:0px; width:100%; z-index:109; }
#header-bottom { background:url(../images/bg-header-bottom.png) bottom repeat-x; height:4px; top:4px; position:relative; }
#wrapper .header-content #cas_nav {position: relative; width: 70%;float:left;}
#wrapper .header-content #logo_site {width: 30%;position: relative;line-height: 50px;float:left;}
#cas_nav ul li {display: inline-block; line-height: 50px;width: auto; font-size: 18px; padding:0px 26px;}
#cas_nav ul li a {color: black;}
#cas_nav ul li a:hover {color: blue;}
#wrapper .header-content #cas_nav ul {padding-left: 300px;}
/* End Branding
--------------------------------------------------------------------------------------------------------*/

/* = logout 
--------------------------------------------------------------------------------------------------------*/
#lgn_cfm {
    position: absolute; 
    left: 786px; 
    right: 0px; 
    top: 175px; 
    width: 328px; 
    height: 181px; 
    z-index: 110; 
    border: 1px solid rgba(47, 38, 38, 0.28); 
    border-radius: 6px;
}
#lgn_cfm input {
    font-size: 18px; 
    width: 79px; 
    height: 29px; 
    float:right;
    margin: 0px 13px;
    background: rgba(255, 255, 255, 0.67); 
}
.lg_bd {
    margin:10px; 
    border: 1px solid rgba(255, 255, 255, 0.68); 
    border-radius: 6px;
    width: 305px; 
    height:162px; 
    background: rgba(254, 251, 251, 0.42);
}

.lg_bd div {
    margin: 37px; 
    line-height: 30px; 
    font-size:23px; 
    padding: 0px 33px; 
}

/* End logout
--------------------------------------------------------------------------------------------------------*/



/* =Main Content
--------------------------------------------------------------------------------------------------------*/
#container_st { padding:128px 10px 45px 10px; width:1200px; margin:0 auto; z-index:1; position:relative; }
.col1-2 { width:460px; padding:0 20px 0 0; float:left; }
.col1-3 { width:300px; padding:0 20px 0 0; float:left; }
.col2-3 { width:620px; padding:0 20px 0 0; float:left; }
.col1-4 { width:220px; padding:0 20px 0 0; float:left; }
.col3-4 { width:700px; padding:0 20px 0 0; float:left; }
.last { padding:0 0 0 0; }
.padding-top { padding-top:35px; }
.padding-right { padding-right:15px; }
.googlemaps { padding:11px 10px 45px 10px !important; }
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
#googlemaps { z-index:108 !important; display:block; position:relative; margin-top:167px; }
#googlemaps-bottom { z-index:108 !important; display:block; position:relative; height:4px; background:#fff; border-bottom:1px solid #d2d2d2; }
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =Secondary Content
--------------------------------------------------------------------------------------------------------*/
.header-content { width:1000px; margin:0 auto; padding:0 10px; }
.header-content .ddsmoothmenu { width:auto;}
.topnavbar { padding-bottom:0px; background: url(../images/header-bg.jpg) top repeat-x; }
.topnavbar a { line-height:34px; color:#eee; font-size:15px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none; padding-bottom:1px; }
.topnavbar a.padding-left { padding-right:20px; }
.topnavbar .padding { padding:0 13px; }
.topnavbar a.active { font-weight:700; }
.topnavbar a:hover { color:#dbdcdd; text-decoration:none; }
.content { width:1100px; height:500px;margin:36px 0px 0px 50px ;}
.content h2 { padding-bottom:24px; }
.content h2.no-subtext { padding-bottom:0px; }
.content h2.second { padding-top:41px; display:inline-block; position:relative; width:100%; font-size:60px; line-height:60px; }
.content h3 { padding:41px 198px  0px 198px; line-height: 140px; font-size: 58px;}
.content h3 a { text-decoration:none; color:#000; }
.content h3 a:hover { text-decoration:none; color:#363636; }
.content h4 { padding:5px 0 4px 0; }
.content h4 a { text-decoration:none; color:#000; }
.content h4 a:hover { text-decoration:none; color:#0073bf; }
.content p { line-height:20px; width:auto; }
.content p.large { line-height:51px; font-size:18px; padding:0px 108px 43px 356px }
.content p a.button { display:inline-block; padding:4px 16px 6px 15px; padding:5px 16px 5px 15px\9; background:url(../images/buttons/bg-button.jpg) repeat-x; border-bottom:0px; border:1px solid #206d9e; color:#fff; margin:5px 0 4px 0; }
.content p a.button:hover { background:url(../images/buttons/bg-buttonHover.jpg) repeat-x; }
ul.list, ul.check, ul.normal { padding:3px 0 2px 0; }
/* End Secondary Content
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/
#footer { border-top:#d2d2d2 1px solid; width:100%; background:#fff; z-index:1; position:relative; }
.footer-content { width:940px; margin:0 auto; padding:10px 30px 18px 30px; }
.footer-content h3 { font-size:20px; padding:41px 0 17px 0; line-height:20px; }
.footer-content p { padding:4px 15px 5px 0; }
#footer-bottom { border-top:#d2d2d2 1px solid; height:40px; width:940px; position:relative; display:inline-block; margin:45px 0 0 0; padding:10px 0 0px 0; }
#footer-bottom p { font-size:11px; padding:4px 0px 5px 0; }
#footer-bottom p a { border-bottom:0px; color:#363636; }
#footer-bottom p a:hover { border-bottom:0px; color:#0073bf; }
#footer-bottom .padding { padding:0px 4px; color:#d2d2d2; }
/* End Footer
--------------------------------------------------------------------------------------------------------*/

/* =Slideshow
--------------------------------------------------------------------------------------------------------*/
#slideshow { width:940px; height:auto; position:relative; z-index:99; background:none; overflow:visible; margin: 0px auto;}
#slideshow-full-width-image { width:930px; height:auto; position:relative; z-index:99; background:#fff; border:#d2d2d2 1px solid; padding:4px; overflow:visible; }
#slider { position:relative; z-index:100; overflow:visible;  border: 3px solid rgba(8, 7, 7, 0.09); border-radius: 5px;background: rgba(254, 250, 250, 0.27);}
#cyclenav { position:relative; display:inline-block; margin-bottom:10px; }
#cyclenav-full-width-image { position:relative; display:inline-block; z-index:101; top:-40px; left:-30px; }
#cyclenav a { font-size:12px; color:#363636; text-decoration:none; background:url(../images/bg-transparent.png) repeat; padding:4px 7px; border:1px solid #d2d2d2; margin-left:5px; }
#cyclenav-full-width-image a { font-size:12px; margin-left:5px; text-decoration:none; padding:4px 7px; border:0px solid #fff; background:url(../images/bg-transparent-dark.png) repeat; color:#d2d2d2; }
#cyclenav a:hover { color:#0074c0; }
#cyclenav-full-width-image a:hover { color:#fff; }
#cyclenav a.activeSlide { font-weight:700; background:#fff; }
#cyclenav-full-width-image a.activeSlide { font-weight:700; background:url(../images/bg-transparent-dark2.png) repeat !important; color:#fff !important; }
/* End Slideshow
--------------------------------------------------------------------------------------------------------*/


/* =Quote
--------------------------------------------------------------------------------------------------------*/
#quote { width:940px; height:auto; background:#fff; border:1px solid #d2d2d2; border-radius: 3px;margin:20px auto;padding:18px; position:relative; }
.logos { padding:25px 0px 0 30px; display:inline-block; width:189px; }
.quoter { font-size:24px; text-transform:capitalize; font-weight:bold; padding:0px 0 5px 0; }
.quote { width:640px; display:inline-block; border-left:1px solid #d2d2d2; padding:10px 0 13px 20px; }
/* End Quote
--------------------------------------------------------------------------------------------------------*/

/* Datatable list1
----------------------------------------o----------------------------------------------------------------*/
.domab {height: 50px;}
.domab label {float:right; font-size:15px; font-style:blique;} 
.domab #button {float:left; height: 30px; border: 2px solid rgb(245, 244, 244); font-size: 16px; border-radius: 6px;} 
.domab #label_list {float:left; position:relative; z-index:9999;height:3%; margin-left: 34px;}
.domab #label_list .showul {list-style:none;display:none; position:absolute; left:80px; top:30px; background-color: #fff; border:1px solid #ccc; width:200px;}
.domab #label_list .showcol {height: 30px; border: 2px solid rgb(245, 244, 244); font-size: 16px; border-radius: 6px;}
.wt100 {position:relative; overflow:hidden; height:100%;}
.wt100 .dataTables_info {font-size: 16px;}
.wt100 .dataTables_paginate, .wt100 .paging_simple_numbers {font-size: 16px;}
/* End Datatable
--------------------------------------------------------------------------------------------------------*/

/* Datatable list2
----------------------------------------o----------------------------------------------------------------*/
.domab1 {height: 50px;}
.domab1 label {float:right; font-size:15px; font-style:blique;} 
.wt1001 label .dsearch1 {width: 172px; height: 22px;border-radius: 6px;margin-right: 5px;}
.domab1 #button {float:left; height: 30px; border: 2px solid rgb(245, 244, 244); font-size: 16px; border-radius: 6px;} 
.domab1 #label_list {float:left; position:relative; z-index:9999;height:3%; margin-left: 34px;}
.domab1 #label_list .showul {list-style:none;display:none; position:absolute; left:80px; top:30px; background-color: #fff; border:1px solid #ccc; width:200px;}
.domab1 #label_list .showcol {height: 30px; border: 2px solid rgb(245, 244, 244); font-size: 16px; border-radius: 6px;}
.wt1001 {position:relative; overflow:hidden; height:100%;}
.wt1001 .dataTables_info {font-size: 16px;}
.wt1001 .dataTables_paginate, .wt1001 .paging_simple_numbers {font-size: 16px;}
/* End Datatable
--------------------------------------------------------------------------------------------------------*/

#container_st .content > #items_list {}
.datainp{ width:150px; height:30px; border:1px #ccc solid;border-radius: 3px;}
.datep{ margin-bottom:40px;}
#container_st .content #items_list span {font-size: 18px; margin-right: 3px;}
#container_st .content #items_list select {height: 26px; margin-right: 9px;}
#container_st .content #items_list #module {margin-right: 25px;}
#container_st .content #items_list .tsearch {margin-left: 10px; border-radius: 4px; height: 28px; width: 67px; background: lightgrey;}
.csearch,.psearch ,.close{margin-left: 4px; border-radius: 2px; height: 27px; width: 76px; background: lightgrey;}

/*regressions index*/
#show_all h1  {
    font-size: 19px;
    line-height: 41px;
}
/*pj index*/
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
#pj_flows {
    padding: 20px 220px;
}
#pj_flows h1 {
    font-size: 19px; 
    line-height: 70px;
}
#pj_flows #pj_tab tbody td {
    /*padding-left: 3px;*/
    font-size: 16px;
}
.pj_extra {

}
.pj_extra  {
  text-align: left;
}
/*dc report info */
.ref-tar {
    line-height: 30px;
    font-size: 18px;
    margin: 11px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.64);
}
.ref-tar span {
    margin-right: 18px;
    line-height: 32px;
    background: rgba(130, 144, 111, 0.92); 
}
.ref-tar .unit {
    float: right;
    margin: 0;
    font-size: 17px;
    color: red;
    background:  rgba(252, 24, 24, 0) none repeat scroll 0% 0%;
}
.table-bordered {
    border: 2px solid rgba(58, 53, 53, 0.36);
    background: cadetblue;
}
#show_all table th,#show_all table td {
    text-align: center;
    vertical-align: middle;
}

/*file*/
.fupload {
    visibility: hidden;
    float: right;
}
.pfile input {
    border: 0;
    background: darkgrey;
    font-size: 16px;
}

/*Timing Rpt*/
#level_selt select {
    float: right;
    width: 84px;
    height: 27px;
    margin-bottom: 5px;
}
#time_btn, #line_btn {
    float:left;
    height:27px;
    margin-bottom:7px;
}
#qor_btn {
    float:left;
    height:27px;
    margin-bottom:7px;
    margin-right:10px; 
}
.qor_null {
    text-align: center;
    font-size: 20px;
    height: 181px;
    padding-top: 111px;
}

/*data columns analysis*/
.colm_nav {
    height: 310px;
}
.colm_ctn {
    height: auto; 
    margin-top: 10px;
}
.colm_clk {
    float: left;
    width: 60%;
    padding: 12px 0px;
}
.parameters {
    width: 39%; 
    height: 288px;    
    display: inline-block;
    margin-left: 12px;
    background: white;
}
.colm_border {
    border: 1px solid white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.52);    
    padding: 9px;
}

.parameters form {
        line-height: 1px;
        border:2px solid rgb(221, 212, 212);
        border-radius: 5px;
        background: rgba(248, 250, 252, 1);
}

.parameters label {
    font-size: 19px;
}

.parameters input[type="text"] {
    width: 140px;
    margin-left: 30px;
    height: 26px;
}

.parameters input[type="submit"] {
    margin: 3px 0px 0px 101px;
}

/*formula style*/
.order-list thead tr {
    font-size: 17px;
}

.order-list thead tr td:first-child {
    width: 50px;
    height: 20px; 
}

.order-list {
    margin-left: 106px; line-height: 28px;
}

.ln_prt ul li {
    list-style-type: disc;
}

